.header {
  display: flex;
  gap: var(--competition-header-gap, 0.8rem);
  height: var(--competition-header-height, 4.6rem);
  align-items: center;
  background-color: var(--competition-header-bg);
  padding: var(--competition-header-padding, 1.2rem);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--competition-header-text);
}
