.header {
  display: flex;
  align-items: center;
  gap: var(--competition-header-gap, 0.8rem);
  height: var(--competition-header-height, 4.6rem);
  background-color: var(--competition-header-bg);
  color: var(--competition-header-fg);
  padding: var(--competition-header-padding, 1.2rem);
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.title {
  font-size: var(--competition-header-font-size, 1.5rem);
  font-weight: 400;
}
