.standings {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.standingsHeaders,
.standingsRow,
.standingsEmpty {
  display: grid;
  grid-template-columns: 4fr repeat(var(--columns-count), 1fr) 2fr;
  grid-auto-rows: 2.8rem;
  column-gap: 1px;
  border-bottom: var(--competition-standings-row-separator);
}

/* Empty state */
.standingsEmpty {
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

/* Header and Row styles */
.standingsHeaders {
  font-weight: 600;
  background-color: var(--competition-standings-header-bg);
}
.standingsRow {
  background-color: var(--competition-standings-row-bg);
}

/* Cells */
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
.standingsRow .cell {
  background-color: var(--competition-standings-cell-bg);
}

/* Utilities */
.truncate {
  overflow: hidden;
}
.truncate > span {
  overflow: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.alignLeft {
  justify-content: flex-start;
}

.strong {
  font-weight: 500;
}
