.standingsHeaders,
.standingsRow,
.standingsEmpty {
  display: grid;
  grid-template-columns: 6fr repeat(4, 1fr) 2fr;
  grid-auto-rows: 2.8rem;
  gap: 1px;
  border-bottom: 1px solid var(--standings-grid-row-border);
}

/* Empty state */
.standingsEmpty {
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

/* Header and Row styles */
.standingsHeaders {
  font-weight: 600;
  background-color: var(--standings-grid-header-bg);
}
.standingsRow {
  background-color: var(--standings-grid-row-bg);
}

/* Cells */
.cell,
.cell {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
.standingsRow .cell {
  background-color: var(--standings-grid-cell-bg);
}

/* Utilities */
.truncate {
  overflow: hidden;
}
.truncate > span {
  overflow: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.alignLeft {
  justify-content: flex-start;
}

.strong {
  font-weight: 500;
}
