@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.premierLeague {
  /* Color palette */
  --purple: #38003c;
  --blue: #2563eb;
  --grey-100: #f9fafb;
  --grey-200: #efefef;
  --grey-300: #dee0e4;

  /* App level variables */
  --font-family: 'Roboto', sans-serif;
  --text-1: #000;
  --app-bg: #fff;
  --app-fg: var(--text-1);
  --surface-1-bg: var(--grey-100);
  --surface-1-fg: var(--text-1);
  --surface-2-bg: var(--blue);
  --surface-2-fg: #fff;
  --surface-3-bg: #fff;
  --surface-3-fg: var(--text-1);
  --border-color: var(--grey-300);
  --border-radius-sm: 4px;
  --border-radius-md: calc(var(--border-radius-sm) * 2);
  --border-radius-lg: calc(var(--border-radius-sm) * 3);

  /*
    UI component variables
  */
  --button-primary-bg: var(--surface-2-bg);
  --button-primary-fg: var(--surface-2-fg);

  --input-bg: var(--surface-3-bg);
  --input-fg: var(--surface-3-fg);
  --input-border: 1px solid var(--border-color);

  --select-border: 1px solid var(--border-color);
  --select-bg: #fff;
  --select-fg: var(--text-1);

  --card-bg: var(--surface-1-bg);
  --card-fg: var(--surface-1-fg);

  /* Competition components overrides */
  --competition-header-bg: var(--purple);
  --competition-header-fg: #ffffff;
  --competition-standings-header-bg: var(--grey-100);
  --competition-standings-row-separator: 1px solid var(--border-color);
}

/* Responsiveness */
.gridContainer {
  display: grid;
  grid-template-rows: 75px minmax(0, 1fr);
  grid-template-columns: 1fr;
  height: 700px;
}

.gridHeader {
  grid-row: 1;
  grid-column: 1 / -1;
}

.gridContent {
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

@media (min-width: 980px) {
  .gridContent {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: unset;
  }

  .gridItem:nth-child(3) {
    overflow-y: auto;
  }
}
