:root {
  /* Color palette */
  --purple: #38003c;
  --blue: #2563eb;
  --grey-100: #f9fafb;
  --grey-200: #efefef;
  --grey-300: #dee0e4;

  /* App level variables */
  --font-family: 'Roboto', 'Inter', sans-serif;
  --text-1: #000;
  --app-bg: var(--white);
  --app-fg: var(--text-1);
  --surface-1-bg: var(--grey-100);
  --surface-1-fg: var(--text-1);
  --surface-2-bg: var(--blue);
  --surface-2-fg: #fff;
  --surface-3-bg: #fff;
  --surface-3-fg: var(--text-1);
  --border-color: var(--grey-300);

  /* Competition components overrides */
  --competition-header-bg: var(--purple);
  --competition-header-text: #ffffff;
  --competition-standings-header-bg: var(--grey-100);
  --competition-standings-row-separator: 1px solid var(--border-color);
}
