.stack {
  display: flex;
}

.column {
  flex-direction: column;
  flex-grow: 1;
}

.row {
  flex-direction: row;
}

.gapNone {
  gap: 0;
}

.gapSm {
  gap: 0.4rem;
}

.gapMd {
  gap: 0.8rem;
}

.gapLg {
  gap: 1.2rem;
}

/* TODO should name this correctly.. */
.gapSpaceBetween {
  justify-content: space-between;
}

.paddingNone {
  padding: 0;
}

.paddingSm {
  padding: 0.4rem;
}

.paddingMd {
  padding: 0.8rem;
}

.paddingLg {
  padding: 1.2rem;
}

.marginTopSm {
  margin-top: 0.4rem;
}

.marginTopMd {
  margin-top: 0.8rem;
}

.marginTopLg {
  margin-top: 1.2rem;
}
