.input {
  padding: 0.2rem 0.5rem;
  border: var(--input-border);
  border-radius: var(--border-radius-md);
  background: var(--input-bg);
  color: var(--input-fg);
  width: 100%;
  outline: none;
}

.input::placeholder {
  color: inherit;
  opacity: 0.4;
}

.block {
  width: 100%;
}
