.select {
  background: var(--select-bg);
  color: var(--select-fg);
  border: var(--select-border);
  border-radius: var(--border-radius-md);
  padding: 0.2rem 0.5rem;
  height: var(--select-height, 2.2rem);
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  transition: border-color 0.2s;
  cursor: pointer;
  outline: none;
}

.full {
  width: 100%;
}
