.button {
  border: 0 none;
  border-radius: var(--border-radius-md);
  padding: 0.3rem 1rem;
}

.primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-fg);
}

.secondary {
  background: var(--button-secondary-bg);
  color: var(--button-secondary-fg);
}
