#root {
  background: var(--root-bg);
  padding: 2rem;
  place-content: center;
}

.app {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 1rem;
  background: var(--app-bg);
  color: var(--app-fg);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: var(--border-radius-lg);
  font-family: var(--font-family);
  font-size: 1rem;
}

.pageSwitcher {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

main {
  padding: 1.2rem;
}

input,
button,
select {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
  outline: none;
  height: 2.2rem;
}

/* Components here for now */
.error {
  color: var(--error-text, #b91c1c);
  font-size: 0.9rem;
}
