@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  background: var(--root-bg);
  min-height: 100svh;
  padding: 2rem;
  place-content: center;
}

.app {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 1rem;
  background: var(--app-bg);
  color: var(--app-fg);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: var(--border-radius-lg);
  font-family: Roboto, Inter, sans-serif;
  font-size: 1.1rem;
}

main {
  padding: 1.2rem;
}

input,
button,
select {
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1.4;
  outline: none;
  height: 2.2rem;
}

/* Components here for now */
.error {
  color: var(--error-text, #b91c1c);
  font-size: 0.9rem;
}
