@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  background: var(--bg);
  min-height: 100svh;
  padding: 2rem;
  place-content: center;
}

.app {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 1rem;
  background: var(--surface);
  color: var(--text);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: var(--border-radius-lg);
  font-family: Roboto, Inter, sans-serif;
  font-size: 1.1rem;
}

main {
  padding: 1.2rem;
}

input,
button,
select {
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1.4;
  outline: none;
  height: 2.2rem;
}

/* Components here for now */
.error {
  color: var(--error-text, #b91c1c);
  font-size: 0.9rem;
}

.competitionHeader {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 4.6rem;
  background-color: var(--competition-header-bg);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 1.2rem;
}
.competitionHeader .title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

/* Standings grid */
.standingsGridHeaders,
.standingsGridRow,
.standingsGridEmpty {
  display: grid;
  grid-template-columns: minmax(100px, 4fr) 1fr 1fr 1fr 1fr 2fr;
  grid-auto-rows: 2.8rem;
  gap: 1px;
  border-bottom: 1px solid var(--standings-grid-row-border);
}
.standingsGridHeaders {
  font-weight: 600;
  background-color: var(--standings-grid-header-bg);
}
.standingsGridRow {
  background-color: var(--standings-grid-row-bg);
}
/* Standings grid cells */
.standingsGridHeaders > div,
.standingsGridRow > div {
  display: flex;
  align-items: center;
}
.standingsGridHeaders > :first-child,
.standingsGridHeaders > :last-child,
.standingsGridRow > :first-child,
.standingsGridRow > :last-child {
  padding: 0 0.5rem;
}
.standingsGridRow > div {
  background-color: var(--standings-grid-cell-bg);
}
.standingsGridRow > div span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* Empty state grid */
.standingsGridEmpty {
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.standingsGrid .center {
  justify-content: center;
}
