@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  background: var(--bg);
  min-height: 100svh;
  padding: 2rem;
  place-content: center;
}

.app {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 1rem;
  background: var(--surface);
  color: var(--text);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: var(--border-radius-lg);
  font-family: Roboto, Inter, sans-serif;
  font-size: 1.1rem;
}

header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 4.6rem;
  background-color: var(--brand);
  padding: 0.4rem 1.2rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

main {
  padding: 1.2rem;
}

input,
button {
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1.4;
  outline: none;
  height: 2.2rem;
}
input {
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  background: var(--surface);
  color: var(--text);
}

.grow {
  flex-grow: 1;
}
.shrink {
  flex-shrink: 1;
}

.standingsGridHeaders,
.standingsGridRow {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 2fr;
  grid-auto-rows: 2.8rem;
  border-bottom: 1px solid var(--border);
  align-items: center;
}
.standingsGridHeaders :first-child,
.standingsGridRow :first-child {
  padding: 0 0.5rem;
}
.standingsGridHeaders {
  font-weight: 600;
  border-bottom: 1px solid var(--border);
  background-color: var(--surface-2);
}
.standingsGrid .center {
  text-align: center;
}
