@import 'node_modules/modern-normalize/modern-normalize.css';

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

button,
input {
  font: inherit;
}

::placeholder {
  color: inherit;
  opacity: 0.4;
}

:root {
  --bg: #f3f4f6;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}

.app[data-theme='clean'] {
  --surface: #ffffff;
  --surface-2: #f9fafb;
  --surface-3: #efefef;
  --border: #e0e2e6;
  --text: #000;
  --brand: #38003c;

  /* actions */
  --primary: #2563eb;
  --primary-fg: #ffffff;

  --secondary: #6b7280;
  --secondary-fg: #ffffff;
}
