@import 'node_modules/modern-normalize/modern-normalize.css';

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

button,
input {
  font: inherit;
}

::placeholder {
  color: inherit;
  opacity: 0.4;
}

:root {
  /* Base theme, extended/overriden in page implementations as needed */
  --grey-400: #9ca3af;
  --grey-300: #d1d5db;
  --grey-200: #efefef;
  --grey-100: #f9fafb;

  /*
    As is, all variables defined below are needed in the page implementations as well,
    in order to recompute the CSS variables correctly
    
    A better approach would be to have these defined only once here,
    and have the page implementations only override the app and component
    ones as needed, unfortunately they won't recalculate correctly
  */

  /* App level variables, used as defaults below, to ensure things work and look a certain way */
  --text-1: #000;
  --root-bg: #f3f4f6;
  --app-bg: var(--white);
  --app-fg: var(--text-1);

  /* cards */
  --surface-1-bg: var(--grey-100);
  --surface-1-fg: var(--text-1);

  /* primary action button */
  --surface-2-bg: var(--grey-400);
  --surface-2-fg: #fff;

  /* inputs, selects, etc */
  --surface-3-bg: #fff;
  --surface-3-fg: var(--text-1);

  --border-color: var(--grey-400);
  --border-radius-sm: 4px;
  --border-radius-md: calc(var(--border-radius-sm) * 2);
  --border-radius-lg: calc(var(--border-radius-sm) * 3);

  --scrollbar-thumb: var(--surface-2-bg);

  /* Component variables, in base theme should use app level variables, in implementations use whatever color they need */
  --button-primary-bg: var(--surface-2-bg);
  --button-primary-fg: var(--surface-2-fg);

  --input-bg: var(--surface-3-bg);
  --input-fg: var(--surface-3-fg);
  --input-border: 1px solid var(--border-color);

  --select-border: 1px solid var(--border-color);
  --select-bg: #fff;
  --select-fg: var(--text-1);

  --card-bg: var(--surface-1-bg);
  --card-fg: var(--surface-1-fg);
}
